body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mapContainer{
  width: 100%;
  height: 100%;
}
.sideBarWrapper{
  position: relative;
  width: 500px;
  height: 100%;
  background: url(./img/mountain.jpg) no-repeat;
  background-size: cover;
}
.sideBarContainer{
  background-color:rgba(47, 46, 46, 0.3);
  width: 100%;
  height: 100%;
}
.inputWrapper p{
  color: #dc3545;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  padding: 10px 15px;
}
.inputWrapper input{
  display: block;
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  color: #1d1a1a;
}
.placeInfo{
  margin: 60px 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #1d1a1a;
}
.placeInfo h2, p{
  margin: 5px 0;
}
.temperature{
  display: block;
  margin: 60px auto;
  border-radius: 20px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #1d1a1a;
  font-size: 50px;
  font-weight: bold;
}
.weatherConditions{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 2px #1d1a1a;
  font-size: 30px;
  font-weight: bold;
}
.leaflet-container{
  height: 100%;
}
.mapContainer .leaflet-grab{
  cursor: default;
}
.leaflet-div-icon{
  background-color: transparent;
  border: none;
}